@tailwind base;
@tailwind components;
@tailwind utilities;


.header{
    animation: animationFadeIn ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes animationFadeIn {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}