@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

.header {
  animation: animationSlideInLeft ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.hero-section figure{
  animation: animationSlideInRight ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.download-nav-btn{
  animation: animationFadeIn ease 3s;
}

.slider {
  animation: animationSlider ease 20s infinite;
}


@keyframes animationSlideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes animationSlideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes animationSlideInTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes animationSlideInBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes animationFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animationSlider {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
}

.wrapper-section::-webkit-scrollbar {
  display: none;
}

.wrapper-section {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.hero-section {
  background: url(./assets/background1.png) no-repeat;
  background-size: cover;
  background-position: top;
}

@keyframes slideIn {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slideIn 1.5s ease-out forwards;
}
